<%= form_with(model: start_order, local: true) do |form| %>
  <% if start_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(start_order.errors.count, "error") %> prohibited this start_order from being saved:</h2>

      <ul>
      <% start_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
